* {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    /* color: white; */
    font-size: 19px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #005B41;
}


.card{
    display: flex;
    border-radius: 6px;
    background-color: #232D3F;
    color:#008170;
    flex-direction: column;
    width: 18%;
    justify-content: flex-start;
    align-items: center;
    margin: 15px;
    height: 40vh;
}