<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="buttons">
        <a href="/signout" class="back">Sign Out</a>
        <a href="/dash" class="back">Dashboard</a>
        {%if admin%}
            <a href="/new" class="back">Create</a>
        {%endif%}
    </div>
    <div class="container">
        {%for item in items%}
        <div class="card" id={{item['pageID']}}>
            <img src={{item["image_url"]}} loading="lazy" alt=`{{item["name"]}} class="pic">
            <p class="name">{{item["name"]}}
                {%if item['status']=="closed"%}
                    <span class="warn"> - Closed</span>
                {%endif%}
            </p>
            
            <div class="info">
                <p class="price data-point">${{item["price"]}}</p>
                <p class="data-point">Age: {{item["quantity"]}}</p>
                <p class="data-point">{{item["price"]/100 + 4723*item["quantity"]}}km</p>
                
            </div>
           <div class="info">
            <p class="data-point"><img src="{{ url_for('static', filename='icons8-bidding-32.png') }}" alt="Top Bidder" height="24px">: {{item["bidding"][0]["name"] if item["bidding"][0] else "None"}}</p>
            <p class="data-point">Top Bid: ${{item["bidding"][0]["bid"] if item["bidding"][0] else item["price"]/2}}</p>
           </div>
        </div>
        {%if admin%}
            <div class="btn-ctn" id={{item['pageID']}}>
                {%if item['status']=="closed"%}
                    <button id="start" class="button-start data-point">Start</button>
                {%endif%}
                {%if item['status']!="closed"%}
                    <button id="Stop" class="button-stop data-point">Stop</button>
                {%endif%}
                
            </div>
        {%endif%}
        
        
        {%endfor%}
    </div>
</body>
<script>
    let x = document.querySelectorAll(".card")
    console.log(x)
    x.forEach((e,i) => {
        e.addEventListener('click', (event)=>{
            let clickCard = event.target.closest('.card')
            let cardID = clickCard.getAttribute('id')
            let url = `http://127.0.0.1:5000/car?id=${cardID}`
            window.open(url)
            console.log(cardID)
        })
    })
    let btn = document.querySelectorAll("#Stop")
    console.log(btn)
    btn.forEach((e,i) => {
        e.addEventListener("click", (event)=> {
            let clickCard = event.target.closest('.btn-ctn')
            let cardID = clickCard.getAttribute('id')
            console.log(cardID)
            let data = {
                "id":cardID
            }
            fetch('/stop',{
                method:"POST",
                body: JSON.stringify(data)
            }).then(ev => {
                console.log(ev.json())
                window.location.reload()
            }).catch(err => {console.log(err)})

        })
    })

    let btn_start = document.querySelectorAll("#start")
    console.log(btn)
    btn_start.forEach((e,i) => {
        e.addEventListener("click", (event)=> {
            let clickCard = event.target.closest('.btn-ctn')
            let cardID = clickCard.getAttribute('id')
            console.log(cardID)
            let data = {
                "id":cardID
            }
            fetch('/start',{
                method:"POST",
                body: JSON.stringify(data)
            }).then(ev => {
                console.log(ev.json())
                window.location.reload()
            }).catch(err => {console.log(err)})

        })
    })
    
</script>
</html>