<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='signup.css') }}">
</head>
<body >
    <div class="card">
        <h1>Signup</h1>
        <h5>Already have an acount? <a href="#">Sign In</a></h5>

        <form action="" method="post">
            <label for="username">Name:</label>
            <input type="text" name="username" id="username">
            <br>
            <label for="email">Email:</label>
            <input type="email" name="email" id="email">
            <br>
            <label for="password">Password:</label>
            <input type="password" name="password" id="password">
            <br>
            <label for="dob">DOB:</label>
            <input type="date" name="dob" id="dob">
        </form>
    </div>
</body>
</html>