<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signin</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='signup.css') }}">
    
</head>
<body >

    <div class="error">
        
    </div>
    <div class="card">
        <h1>Sign In</h1>
        <h5>Don't have an acount? <a href="/signup">Sign Up</a></h5>

        <form action="/signin" method="post">
            <label for="email">Email:</label>
            <input type="email" name="email" id="email">
            <br>
            <label for="password">Password:</label>
            <input type="password" name="password" id="password">
            <input type="submit" value="Submit">
        </form>
    </div>

    
    <script>
        const x = window.location.search
        const urlParmas = new URLSearchParams(x)
        if (urlParmas.get("e")) {
            document.querySelector(".error").innerHTML = '<div class="errorer card">Username and Password do not match</div>'
        }
    </script>
</body>
</html>


